__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/                 
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/    

# Environment variables
.env                   

# IDEs and Editors
.vscode/               

# Operating System Files
.DS_Store              
Thumbs.db              